<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/layout.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <!-- api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY %>&callback=initMap" async defer></script>

</head>

<body>
  <nav>
    <h1>Wiki Map 🌍</h1>
    <span>
      <span>
        <form action="" method="get">
<<<<<<< HEAD
          <input type="text" name="query" placeholder="Search...">
          <button type="submit">Search</button>
          <button>Profile</button>
          <button><a href="/login">Login</a></button>
=======
          <button>
            <a href="/profile">Profile</a>
          </button>
          <button>Login</button>
>>>>>>> master
        </form>
      </span>
    </span>
  </nav>
  <div class="container">
    <ul class="mapList">
      <!-- Loop through the maps and display each one -->
      <% maps.forEach(function(map) { %>
        <li>
          <a href="/maps/<%= map.id %>">
            <%= map.map_category %> - <%= map.description %>
          </a>

          <!-- favorite map by userID -->
          <!-- id is hardcoded as 1, will need to replace as logged in user -->
          <form method="post" action="/profile/1">
            <button type="submit">♥</button>
            <input type="hidden" name="mapID" value="<%= map.id %>">
          </form>
        </li>
      <% }); %>
    </ul>
    <div id="map"></div>
  </div>


  <script>
    let map;
    const lat = 43.6532;
    const lng =  79.3832;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat, lng },
        zoom: 8,
      });
    }
  </script>
  <script src="/script.js"></script>
</body>

</html>
